body {
    background-color: #313131;
}

* {
    /* background-color: #272727; */
    color: rgb(233, 233, 233);
}

.menu {
    padding: 30px;
    /* align-content: center; */
    border: 3px solid goldenrod;
    text-align: center;
}

.menu-items {
    display: inline-block;
    margin-inline: 20px;
}

.content {

    padding: 20px;
}
.darkBG {
    background-color: #272727;

}

h1, h2 {
    color: goldenrod;
    text-align: center;
}

h3 {
    color: rgb(165, 255, 255);
}